{
  "env": {
    "browser": true,
    "es6": true,
    "amd": true,
    "jest": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "error",
    "no-eval": "error",
    "no-useless-constructor": "error",
    "no-console": ["error", {"allow": ["log", "error"]}],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "prettier/prettier": "error",
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "quotes": ["warn", "single"],
    "semi": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "prefer-const": "error",
    "prefer-arrow-callback": ["warn", {"allowNamedFunctions": true}]
  }
}
